#work_buttons::-webkit-scrollbar {
  height: 8px; /* Or any other size to make it thinner */
}

#work_buttons::-webkit-scrollbar-track {
  background: #0a192f;
}

#work_buttons::-webkit-scrollbar-thumb {
  background: #0a192f;
  border-radius: 10px;
}

#work_buttons::-webkit-scrollbar-thumb:hover {
  background: #495670;
}

#work_buttons {
  scrollbar-width: thin; /* 'auto', 'thin', or 'none' */
  scrollbar-color: #495670 #0a192f; /* thumb and track color */
}

/* .my-responsive-width {
    max-width: 200px; 
  }

  @media (min-width: 350px) {
    .my-responsive-width {
      max-width: 220px; 
    }
  }

  @media (min-width: 400px) {
    .my-responsive-width {
      max-width: 280px; 
    }
  }

  @media (min-width: 450px) {
    .my-responsive-width {
      max-width: 330px; 
    }
  }

  @media (min-width: 500px) {
    .my-responsive-width {
      max-width: 380px; 
    }
  }

  @media (min-width: 550px) {
    .my-responsive-width {
      max-width: 430px; 
    }
  }

  @media (min-width: 600px) {
    .my-responsive-width {
      max-width: 480px; 
    }
  }

  @media (min-width: 650px) {
    .my-responsive-width {
      max-width: 530px; 
    }
  }

  @media (min-width: 700px) {
    .my-responsive-width {
      max-width: 580px; 
    }
  }

  @media (min-width: 750px) {
    .my-responsive-width {
      max-width: 630px; 
    }
  }
  
  @media (min-width: 769px) {
    .my-responsive-width {
      max-width: 100%; 
    }
  } */