.hover-up {
    transition: transform 0.3s;
}

.hover-down {
    transition: transform 0.3s;
}

.hover-hidden{
    transition: opacity 0.3s; 
}

.animation-container:hover .hover-up{
    transform: translate(-6px, -6px);

}

.animation-container:hover .hover-down {
    transform: translate(6px, 6px);
}

.animation-container:hover .hover-hidden{
    opacity: 0;
}
