#sideBarNavLinks span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

#sideBarNavLinks #resumeButton{
    background: #112240;
    color: #ccd6f6;
}
#sideBarNavLinks #resumeButton:hover{
    color:#64ffda
}

#sideBarNavLinks  .link {
    margin: 0
} 

.sidebar-transition {
    transition: transform 0.15s linear;
}